<h1>data works</h1>
<div>
  {{act}}
</div>
<div class=" div1 clearfix " [ngClass]="changestyle()">
    <button type="button" class="btn btn-secondary float-left" (click)="now()">Example Button floated left</button>
    <button type="button" class="btn btn-secondary float-right">Example Button floated right</button>
 
  </div > <i class="fa fa-bath fg" aria-hidden="true"></i>
  <i class="fa fa-address-book-o" aria-hidden="true"></i>
  <div [ngStyle]="changestyle()">
    <p id='klk'>hello programer</p>
  </div>